<div class="container-fluid">
    <div class="bg-white border">
        <app-header></app-header>
    </div>
    <div class="payment container-fluid fade">
        <app-shopping-header></app-shopping-header>
        <div class="payment-items py-3 container flex bg-white">
            <div class="payment-option">
                <h3 class="border-bottom">Payment Method</h3>
                <form (ngSubmit)="submit(f)" #f="ngForm">
                    <div class="payment-type flex py-2 border-bottom">
                        <div class="form-control translateX">
                            <div class="type flex">
                                <input type="radio" name="payment" [(ngModel)]="payment" value="credit_card" required>
                                <div class="content">
                                    <p>Credit Card</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, consequatur.
                                    </p>
                                </div>
                            </div>
                            <div class="form">
                                <div class="flex py-2">
                                    <input type="number" name="card_number"
                                        placeholder="0000 &nbsp; 0000 &nbsp; 0000 &nbsp; 0000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#xf09d;"
                                        ngModel [required]="payment==='credit_card'">
                                    <input type="number" name="expiry" placeholder="MM / YY" ngModel
                                        [required]="payment==='credit_card'">
                                    <input type="number" name="cvv"
                                        placeholder="CVV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#xf05a;"
                                        ngModel [required]="payment==='credit_card'">
                                </div>
                                <input type="text" name="name" placeholder="Card Holder Name" ngModel
                                    [required]="payment==='credit_card'">
                            </div>
                        </div>
                    </div>

                    <div class="payment-type py-2 border-bottom">
                        <div class="form-control translateX flex">
                            <input type="radio" name="payment" [(ngModel)]="payment" value="paypal" required>
                            <div class="content">
                                <p>PayPal</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorem saepe
                                    nesciunt, rem possimus quasi.</p>
                            </div>
                            <div class="img"><img src="assets/images/paypal.png" alt=""></div>
                        </div>
                    </div>

                    <div class="flex py-2">
                        <button class="btn btn-dark" type="submit" [disabled]="!f.valid  || !totalQuantity">Pay
                            Now</button>
                        <button class="btn btn-light" type="button" routerLink="/">Cancel</button>
                    </div>
                </form>
            </div>
            <app-shopping-summary></app-shopping-summary>
        </div>
    </div>
    <app-footer></app-footer>
</div>