<div class="container-fluid">
    <div id="order-success-header" class="bg-light border">
        <app-header></app-header>
        <div class="container fade">
            <div class="content flex translateXRight">
                <p>Your Order has been placed</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsam, facilis totam
                    suscipit
                    vitae
                    reiciendis sunt deserunt aliquam aliquid debitis.</p>
                <button class="btn btn-dark" routerLink="/">Continue Shopping</button>
            </div>
        </div>
    </div>
    <div id="products" class="bg-white border fade">
        <div class="container py-3">
            <div class="div my-3"></div>
        </div>
    </div>
    <app-footer></app-footer>
</div>